.rodape{
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  }
.rodape--cinza{
    background-color: darkgrey;
}
.label--size{
  font-size: 40px;
}
.center{
  text-align: center;
}