.rodape {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

.rodape--cinza {
  background-color: darkgrey;
}

.label--size {
  font-size: 40px;
}

.center {
  text-align: center;
}
